export(CheckCorrModel, CheckInput, CheckLikelihood, CheckModel, CheckType, CheckVarType,
CompLikelihood, CorrelationParam, Covariogram, Covmatrix, Dist2Dist, EVariogram, 
FitComposite, FitGev, GevLogLik, HypoTest, InitParam, Kri, Likelihood, MomEst, NuisanceParam, RFsim, WLeastSquare, WlsInit)
 
S3method(print,FitComposite)
S3method(print,WLS)

useDynLib(CompRandFld, .registration = TRUE)

import(RandomFields)
import(spam)
import(scatterplot3d)
import(fields)
import(mapproj)
import(methods)
import(maps)

importFrom("grDevices", "dev.cur")
importFrom("graphics", "abline", "par")
importFrom("stats", "optim", "pchisq", "pnorm", "qnorm", "rnorm","uniroot", "var", "window")